# Learn SQL step by step in 30 days

Following is a schedule to learn SQL step by step considering 2 hours of dedicated n focused study every single day. This program is perfect for beginners with no knowledge of SQL.

## Let's Start Learning SQL :)

### SQL: Week 1
**First week, focus on learning the basics to understand SQL and it's application.**

SQL Topics to learn in first week: SQL Introduction, Data types, Create database and table, INSERT, UPDATE, DELETE, ALTER TABLE, DROP TABLE, TRUNCATE, SELECT STATEMENT n WHERE CLAUSE, Import files to SQL, Functions in SQL, String and Aggregae Functions + Solve Example and practice by writing queries.

**Watch videos and learn:**

1. Introduction to SQL-What Is SQL & Database: https://www.youtube.com/watch?v=yH1zCq-iaeU

* Data Types, Primary-Foreign Keys & Constraints: https://www.youtube.com/watch?v=HmH-76_2Ak8

* Install postgresql and pgadmin4: https://www.youtube.com/watch?v=E-Qn2tbcmDE

* Create Table In SQL & Create Database: https://www.youtube.com/watch?v=v-2cIUgx_jw

* INSERT UPDATE, DELETE & ALTER Table: https://www.youtube.com/watch?v=4YAAgrm8_ZI

* SELECT Statement & WHERE Clause with Example : https://www.youtube.com/watch?v=eiLqDeDp7Oc

* How To Import Excel File (CSV) to SQL: https://www.youtube.com/watch?v=rfWYbMd3ApA

* Functions in SQL | String Functions: https://www.youtube.com/watch?v=55_UN5gVARs

* Aggregate Functions: https://www.youtube.com/watch?v=9NfthspfXEo

### SQL: Week 2
**Second week, focus on learning advance SQL and it's application.**

SQL Topics to learn in second week: GROUP BY n HAVING clause, Timestamp and Extract Function- DateTime, SOL JOINS, Subquery, Window Function, CASE Statement and CTE + Solve Example and practice by writing queries.**

**Watch videos and learn:**
10. Group By and Having Clause: https://www.youtube.com/watch?v=SvJLXj05cow

* TimeStamp and Extract Function-Date Time Function: https://www.youtube.com/watch?v=kwGh6XvLrEk

* Complete SQL JOINS For Beginners: https://www.youtube.com/watch?v=H6988OpZKTU

* SELF JOIN | UNION & UNION ALL: https://www.youtube.com/watch?v=V3xjmBi1QQE

* Subquery: https://www.youtube.com/watch?v=5O2OuN1ougU

* Window Function:

### SQL: Week 3 & Week 4
**Third n forth week, since now you know SQL properly (fundamentals, syntax, functions, operators, etc).** 

Now focus on learning how to solve complex SQL problems, solve same problems with different methods and how to optimize SQL query. Below we have shared list of FREE websites to WRITE and PRACTICE SQL queries.

**Watch videos and practice** (more videos to add)

1. Most Asked SQL Interview Question - Solved Using 3 Methods | Complex SQL Query & Solution: https://www.youtube.com/watch?v=9gHIiuyySws
2. SQL Interview Question

### Websites to practice SQL online:

* HackerRank: https://www.hackerrank.com/domains/sql
        
* SQL Practice: https://www.sql-practice.com/
        
* 8 week sql Challenge by Danny: https://8weeksqlchallenge.com/
        
* data lemur by Nick: https://datalemur.com/

### SQL Course by Udemy:
The Complete SQL Bootcamp 2022: https://www.udemy.com/course/the-complete-sql-bootcamp/

### Free Resources to Learn SQL (YouTube):

* MySQL Tutorial for Beginners [Full Course]: https://www.youtube.com/watch?v=7S_tz1z_5bA
        
* SQL Tutorial - Full Database Course for Beginners: https://www.youtube.com/watch?v=HXV3zeQKqGY